 <header>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
                    { page.logo }
            <p class="logo-naam">Tuinaanleggersbedrijf</p>
            <p class="logo-naam2">"Het mooie pad"</p>
          </div>
          <div class="col-md-8">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="#">Tuinaanleg </a>
                  <a class="nav-item nav-link" href="#">Tuinonderhoud</a>
                  <a class="nav-item nav-link" href="#">Afsluitingen</a>
                  <a class="nav-item nav-link" href="#">Contact</a>
                  <a class="nav-item nav-link" href="#">Vacature</a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
  
    <!--hoofdinfoud met zijkolom-->
    <div class="maincontent clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
                { page.content }    
          </div>
          <div class="col-md-2">
            <div class="zijbalkBoven">
                { page.sidebar1 }           
            </div>
          </div>      
        </div>
      </div>
    </div>
  
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
                { page.footer1 }
          </div>

          <div class="col-md-4">
                { page.footer2 }
          </div>

          <div class="col-md-4">
                { page.footer3 }
          </div>
        </div>
      </div>
    </footer>