@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
}
h1,
h3 {
  color: grey;
}
a {
  color: #d9362b;
}
img {
  width: 100%;
  height: auto;
}
header {
  background: darkgrey;
  padding: 10px 0;
}
footer.sub-footer {
  background: darkgrey;
  padding: 30px 0;
  margin-top: 30px;
}
footer {
  background: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.maincontent,
.blok-van-3 {
  padding: 30px 0;
}
.blok-van-3 .block {
  text-align: center;
  border: 1px solid #cecece;
  padding: 10px;
}
.blok-van-3 h2::after {
  display: table;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  content: "";
  width: 100px;
  border-bottom: 1px solid #ff3d2e;
}
.sub-footer li {
  list-style-type: none;
}
